
aws_region                   = "us-west-2"
availability_zone_1          = "a"
availability_zone_2          = "c"

#
# Subnet bits = number of bits used in the cidr for subnet.
# e.g. 10.0.0.0/16 cidr with 8 subnet bits means each subnet is 10.0.0.0/24, 10.0.1.0/24, etc
#
subnet_bits                 = 8

#
# index in the subnet in the cidr range.
# e.g. index 1 in 10.0.0.0/16 is 10.0.1.0/24
#
public_subnet_index         = 0
fwaas_subnet_index          = 1
private_subnet_index        = 2

#
# Variables likely to change
#
keypair                     = ""

#
# cp (customer_prefix) and env (environment) prepended to all resources created by the template.
# Used for identification. e.g. "<customer_prefix>-<prod/test/dev>"
#
cp                          = "tec-cnf"
env                         = "lab"
vpc_cidr_inspection         = "10.0.0.0/16"

vpc_cidr_jump_box           = "10.0.0.0/24"
vpc_cidr_spoke              = "192.168.0.0/16"

vpc_cidr_east               = "192.168.0.0/24"
vpc_cidr_east_private_az1   = "192.168.0.0/28"
vpc_cidr_east_private_az2   = "192.168.0.16/28"
vpc_cidr_west               = "192.168.1.0/24"
vpc_cidr_west_private_az1   = "192.168.1.0/28"
vpc_cidr_west_private_az2   = "192.168.1.16/28"

fortimanager_instance_type  = "c5.xlarge"

fortimanager_os_version     = "7.2.2"
fortimanager_host_ip        = 12
#
# Fortigate Variables
# cidr_for_access goes into the inbound security group for the Fortigates. Current value is open. It may be wise to
# limit access to a jump box or specific IP/Subnet
#
cidr_for_access             = "0.0.0.0/0"
acl                         = "private"

#
# Endpoints Variables
#
linux_instance_type         = "t2.micro"
linux_host_ip               = 11
